.group-chat {
    width: 90%;
    padding: 15px 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
}

.group-chat:nth-child(odd) {
    background-color: rgb(47, 47, 47);
}

.group-chat:nth-child(even) {
    background-color: rgb(69, 68, 68);
}